{% extends 'admin index.html' %}
{% block body %}
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<div align="center">-->
    <!--<table width="200" border="1">-->
      <!--<tr>-->
        <!--<td><a href="managetips">manage tips</a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a href="viewfeedback">feedback</a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a href="viewuser">view user</a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a href="/">logout</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</form>-->
{% endblock %}