{% extends 'admin index.html' %}
{% block body %}
   


<form method="POST" >
	<center>
<h1 style="">View Complaint</h1>
		<table class="table" style="width: auto;color: black">
			<tr>
				<th>User Name</th>
<!-- 				<th>Last Name</th>
 -->				<th> Complaint</th>
				<th> Reply</th>
				<th>Date Time</th>
			</tr>
			{% for row in val%}
			<tr>
				<td>{{row[7]}} {{row[8]}}</td>
<!-- 				<td>{{row['lname']}}</td>
 -->				<td>{{row[2]}}</td>
				{% if row[3]=="reply-pending"%}
			<td><a class="btn btn-success" href="adminsendreply?cid={{row[1]}}">reply</a></td>
					{% else %}
				<td>{{row[3]}}</td>
				{%endif%}
				<td>{{row[4]}}</td>
			</tr>
			{% endfor%}
		</table>

</center></form>

         
{% endblock %}


