{% extends 'admin index.html' %}
{% block body %}
   



        

<center>
<center>
  <form method="post" style="margin-top: 70px">
    {% if data['updates']%} <h2 style="font-size: 40px;color: black;font-weight:bold;">
UPDATE DOCTORS </h2>


                 <table class="table" style="width:500px;color: black;margin-top: 3em">
    <tr>
    <th>DoctorName</th>
    <td><input type="text" name="n" pattern="[a-zA-Z]+$" value="{{data['updates'][0]['doctorname'] }}" class="form-control"></td>
  </tr>
  <tr>
    <th>Place</th>
    <td><input type="text" name="pl" pattern="[a-zA-Z]+$" value="{{data['updates'][0]['place'] }}" class="form-control"></td>
  </tr>
   
  <tr>
    <th>Phone</th>
    <td><input type="number" min="0" minlength="10" maxlength="10" name="p"  value="{{data['updates'][0]['phone'] }}" class="form-control"></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><input type="email" name="e" value="{{data['updates'][0]['email'] }}" class="form-control"></td>   
  </tr>
  <tr>
    <td align="center" colspan="2"><input type="submit" name="update" value="UPDATE" class="btn btn-success"></td>
  </tr>
</table>


{%else%}


            <h2 style="font-size: 40px;color: black;font-weight:bold;">
DOCTORS </h2>


<table class="table" style="width: 500px;color: black">
  <tr>
    <th>Name</th>
    <td><input type="text" name="n" pattern="[a-zA-Z]+$" required class="form-control"></td>
  </tr>
 
  <tr>
  <th>Specialized In</th>
    <td><input type="text" name="p" pattern="[a-zA-Z]+$" required class="form-control"></td>
  </tr> <tr>
    <th>Hospital</th>
    <td><input type="text" name="h"  required class="form-control"></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><input type="number" min="0" minlength="10" maxlength="10" name="ph" required class="form-control" ></td>
  </tr> 
  <tr>
    <th>Email</th>
    <td><input type="email" name="e" required class="form-control"></td>    
  </tr>
<!--    <tr>
          <th>Username</th>
           <td><input type="text" name="uname" required class="form-control"></td>
     </tr>
      <tr>
           <th>Password</th>
            <td><input type="password" name="pwd" required class="form-control"></td>
        </tr> -->
    <tr>
    <td align="center" colspan="2"><input type="submit" name="add" value="ADD" class="btn btn-success"></td>
  </tr>
</table>
{%endif%}




            <h2 style="font-size: 40px;color: black;font-weight:bold;">
VIEW DOCTORS </h2>


    <table class="table" style="width:auto;">
      <tr>
        <th>Name</th>
        <th>Specialized In</th>
        <th>Hospital</th>
        <th>Phone</th>
        <th>Email</th>
        
      </tr>
 

    {%for row in val %}
      <tr>
      <td>{{row[1] }}</td>
      <td>{{row[2] }}</td>
      <td>{{row[3] }}</td>
      <td>{{row[4] }}</td>
      <td>{{row[5] }} </td>
      <td><a class ="btn btn-danger" href="?action=delete&id={{row[0] }}">delete</a></td>

      </tr>
{%endfor%}




     
    </table>
   
        
    </center>
</form>      

</center>
 </div>
          </div>
        </div>
        </div>
    </div>

  </section><!-- End Hero -->


{% endblock %}
